// ========================
// DISPLAY
// ========================
// @note: used to layout the application columns
// ========================
.Display {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

// ========================
// ELEMENTS
// ========================
.Display-results,
.Display-listing {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @media #{$tablet} {
    flex-shrink: 0;
  }
}

.Display-results {
  background-color: $border;
  margin: 0;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 10px rgba($black, 0.15);

  @media #{$tablet} {
    position: static;
    box-shadow: none;
  }
}

.Display-listing {
  background-color: $off-white;
  flex-grow: 1;
  padding: {
    top:    $v * 1.5;
    bottom: $v * 1.5;
    left:   $h;
    right:  $h;
  }

  @media #{$desktop} {
    padding: {
      left:   $h * 2;
      right:  $h * 2;
    }
  }

  @media #{$widescreen} {
    padding: {
      top:    $v * 2;
      bottom: $v * 2;
    }
  }
}

// .Display-anotherPart {}

// ========================
// MODIFIERS
// ========================
// .Display--modifier {}

// ========================
// UI STATES
// ========================
// .Display.is-active {}
