// ========================
// HEADER
// ========================
// @note: Global header used at the top of the app for filtering
// ========================
.Header {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: {
    top:    $v;
    bottom: $v * 1.5;
    left:   $h;
    right:  $h;
  }

  @media #{$tablet} {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }

  @media #{$desktop} {
    padding: {
      top:    $v * 1.5;
      left:   $h * 2;
      right:  $h * 2;
    }
  }

  @media #{$widescreen} {
    padding: {
      top:    $v * 2;
      bottom: $v * 2;
      left:   $h * 4;
      right:  $h * 4;
    }
  }
}

// ========================
// ELEMENTS
// ========================
.Header-filters {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Header-filters-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  // margin-bottom: $v / -2;

  li {
    margin-bottom: $v / 2;
  }
}

// ========================
// MODIFIERS
// ========================
.Header-filters-list--category {
  li {
    width: 100%;
    @media #{$mobile-only} {
      width: 33.333%;
    }
  }
}

.Header-filters-list--cuisine {

  li { width: 33.333%; }
}

// ========================
// UI STATES
// ========================
// ..is-active {}
