// ============
// Colours
// ============

// Brand ============
$red:       #B92526;
$green:     #52BF56;
$blue:      #51BEBF;

// Name-spacing ============
$primary:         $blue;
$primary-light:   hsl(hue($primary), saturation($primary), 75%);
$primary-dark:    hsl(hue($primary), saturation($primary), 25%);
$secondary:       $red;
$secondary-light: hsl(hue($secondary), saturation($secondary), 75%);
$secondary-dark:  hsl(hue($secondary), saturation($secondary), 25%);
$tertiary:        $green;
$tertiary-light:  hsl(hue($tertiary), saturation($tertiary), 75%);
$tertiary-dark:   hsl(hue($tertiary), saturation($tertiary), 25%);

// Tones ============
$black:      #000;
$off-black:  #001F26;
$grey-dark:  #4A4A4A;
$grey-med:   #B1B5B7;
$grey-light: #CECECE;
$border:     #E5E5E5;
$off-white:  #F1F1F1;
$white:      #FFF;

// Text ============
$text:        $grey-dark;
$text-light:  $grey-med;
$link:        $blue;
$active:      $green;
$highlight:   $blue;

// Messages ============
$error:   $secondary;
$info:    $primary;
$success: $tertiary;
$warning: $secondary-light;
